.build/
node_modules/
dist/
target/

# Smart contracts
contracts/cache/
contracts/artifacts/
contracts/typechain-types/
contracts/coverage/
.projectile
/web/playwright-report/

.vscode/settings.json


#Playwright test files
*/playwright-report/*
*/test-results/*

#OS
*/.DS_Store
.dir-locals.el

# Davia
.davia/

# Generated assets

*/assets/tailwind.css